@import "~@/common/css/variableWill.styl"

$activity-bg-normal = $colFFFF
$activity-bg-disable = $colFFFF

$activity-giving-bgImage = radial-gradient(50% 100%, #FAD961 41%, #F18D00 100%)
$activity-giving-bottonImage = linear-gradient(0deg, #E12748 0%, #FF6371 100%)
$activity-giving-bottonImage-hover = linear-gradient(0deg, #D32544 0%, #EF5C69 100%)
$activity-giving-bottonshadow = 0px 15px 50px -9px $col294A
$activity-giving-bannerImg = url(resolveStaticPath('/web/activityGiving/banner@3x.png'))
$activity-double11-bannerImg = url(resolveStaticPath('/web/activityGiving/dou_banner_bg.jpg'))
$activity-giving-normal = $col0000
$activity-double11-bg = $col851A
$activity-giving-table-bg = $colFEFE
$activity-giving-table-title-color = $col7200
$activity-giving-table-title-bg = $cola2121
$activity-giving-table-border = $colAA00
$activity-giving-award-title-bg = $colE25D
$activity-giving-award-title-color = $col5129
$activity-giving-award-title-shadow = 0 -4px 16px 0 $cola2105
$activity-giving-table-shadow = 0 0 50px 0 $col9300
$activity-giving-rule-bgImage = linear-gradient(-180deg, #FFE998 0%, #FFE998 100%)
$activity-giving-rule-title-color = $col3E00
$activity-giving-rule-title-left = url(resolveStaticPath('/web/activityGiving/bg_rules_line_left@3x.png'))
$activity-giving-rule-title-right = url(resolveStaticPath('/web/activityGiving/bg_rules_line_right@3x.png'))
$activity-giving-rule-bg = url(resolveStaticPath('/web/activityGiving/bg_rules@3x.png'))
$activity-giving-rule-content-bg = $colFFFF
$activity-giving-rule-content-color = $col3333

$activity-font-normal = $col3333
$activity-font-main = $col9E2F
$activity-font-title = $cola2225
$activity-font-button = $colFFFF
$activity-font-negative = $col5656
$activity-font-reg-award = $col6600
$activity-font-reg-mount = $col2A1A

// 双11活动
$activity-dou-bgImage = linear-gradient(0deg, #F28D01 8%, #F6AC31 100%)
$activity-dou-font-btn = $colFF7C
$activity-dou-border-btn = $colFF7C
