.fund-body
  padding 40px 25px
  border-bottom 1px solid $fund-detail-navLine
  &:last-child
    border-bottom none

.fund-title
  display flex
  align-items center
  img
    width 10px
    height 10px
    margin-right 6px
  h3
    color $fund-detail-font-main
    font-size 16px

.fund-body-ul
  margin 20px 0 0 14px
  li
    p
      font-size 14px
      color $fund-detail-font-main
    span
      display inline-block
      margin 10px 0 20px 14px
      font-size 14px
      color $fund-detail-font-item
      line-height 28px
