@import "~@/common/css/variableWill.styl"
$fund-detail-bg = $colFFFF;
$fund-detail-model-bg = $colF8F8;
$fund-detail-font-main = $col3333;
$fund-detail-active = $col9E2F;
$fund-detail-font-item = $col9999;
$fund-detail-font-red = $col5C48;
$fund-detail-line = $colEEEE
$fund-detail-navLine = $colE0E0
$fund-detail-active-a = $cola2141
$fund-detail-bottom-bg = $colE8EA
$fund-product-hr = $colCCCC
$tlb-bg-btn-disabled = $colE0E0