@import "~@/common/css/index.styl"

$order-bg-none = $colFFFF  // 背景颜色
$order-bg-popup = $cola2346
$order-bg-shadow = $cola2342
// $order-bg-active = $cola2141 // tab标签选中颜色、order列表表头颜色
// $order-line-active = $col9E2F
// $order-bg-detail = $col292B //  详情页背景

// $order-line = $colE0E0  // 分割线颜色
$otc-order-title-bg = $colF8F8
$otc-order-line = $colE0E0
$otc-order-font-main = $col3333
$otc-order-font-input = $colCCCC
$otc-order-font-intro = $col6666
$otc-order-font-title = $col9999
$otc-order-active = $col9E2F
$otc-order-price = $col5C48
$otc-order-error-bg = $cola2971

$order-font-main = $col9E2F //
$order-font-appeal = $col0000
$order-font-negative = $col5656
$order-font-content = $col3333 //
// $order-font-detail = $cola2225 // 订单详情内容颜色
// $order-font-active = $col3333  // 主题色

$order-border-main = $colEEEE //
$order-border-shadow = $colE0E0 //
$order-border-active = $col9E2F
// $order-image-nothing = $icon-nothing
// $order-image-close = $close-button
// $order-title-bg = $colF8F8
// $order-detail-bg = $col1F2E