@import "../variable.styl"
@import "./taoliBalance.styl"
@import "./redemption.styl"
@import "./earningsHistory.styl"
.asset-taoli
  .asset-nav
    border-bottom 1px solid $asset-border-minor
    li
      a.active
        border-bottom 1px solid $asset-border-minor