@import "~@/common/css/index.styl"

$otc-fast-font-main = $col3333
$otc-fast-font-input = $col9999
$otc-fast-border = $colE0E0
$otc-fast-active = $col9E2F
$otc-fast-buy-bg = url(resolveStaticPath('/otc/OTC_fastbuy_bg.jpg'))
$otc-checkbox-normal = url(resolveStaticPath('/web/commonPro/checkbox_normal.svg'))
$otc-checkbox-select = url(resolveStaticPath('/web/commonPro/checkbox_selected.svg'))