.bussiness-ad
	margin-top 10px
	min-height 590px
	background $colFFFF
	.bussiness-ad-type
		width 100%
		height 64px
		padding 10px 24px
		display flex
		align-items center
		.ad-type-items
			font-size 16px
			color $otc-info-font-main
			height 44px
			margin-right 40px
			line-height 44px
			cursor pointer
		.ad-type-select
			color $otc-info-active
			border-bottom 2px solid $otc-info-active
	table
		width 100%
		thead
			tr
				background $colF8F8
				height 36px
				line-height 36px
				td
					font-size 12px
					color $otc-info-font-intro
					&:nth-of-type(1)
						width 197px
						padding-left 24px
					&:nth-of-type(2)
						width 196px
					&:nth-of-type(3)
						width 246px
					&:nth-of-type(4)
						width 217px
					&:nth-of-type(5)
						width 235px
					&:nth-of-type(6)
						padding-right 24px
		tbody
			tr
				height 60px
				line-height 60px
				border-bottom 1px solid $colEEEE
				td
					font-size 14px
					color $otc-info-font-main
					&:nth-of-type(1)
						padding-left 24px
					&:nth-of-type(6)
						padding-right 24px
						button
							color $colFFFF
							font-size 14px
							width 85px
							height 36px
							background $otc-info-active
							//padding 8px 14px
				