@import "~@/common/css/index.styl"
$otc-info-line = $colEEEE
$otc-info-font-main = $col3333
$otc-info-font-intro = $col9999
$otc-info-active = $col9E2F

$otc-status-prof = url(resolveStaticPath('/otc/otc_prove_finished@3x.png'))
$otc-status-unprof = url(resolveStaticPath('/otc/otc_prove_unfinished@3x.png'))