@import "./variable.styl"

.download-wrap
  width 1200px
  min-height 760px
  padding 60px 0
  background $colFFFF
  text-align center
  h1
    color $col3333
    font-size 34px
    margin-bottom 20px
  h2
    color $col3333
    font-size 16px
    margin-bottom 40px
  img
    display block
    width 660px
    height 446px
    margin 0 auto 40px
    &.app-img
      width 180px
      height 180px
  .app-img-wrap
    display block
    width 180px
    height 180px
    margin 0 auto  20px
  .download-btn-wrap
    display block
    width 100%
    height 100%
    margin-bottom 20px
  button
    &.default
      width 480px
      height 48px
      color $colFFFF
      background $common-download-android $col9E2F
      background-repeat no-repeat
      background-size 21.6px 26px
      background-position 175px 10px
    &.ios-btn
      background $common-download-ios $col9E2F
      background-repeat no-repeat
      background-size 21.6px 26px
      background-position 175px 10px
  p
    color $col999A
    font-size 16px
