@import "~@/common/css/index.styl"
  $help-bg-main = $colE8EA
  $help-bg-none = $colFFFF
  $help-bg-con = $colFFFF
  $help-bg-title = $colF8F8
  $help-bg-coin-title = $col9E2F
  $help-bg-coin-title-op = $cola2141

  $help-font-normal = $col3333
  $help-font-main = $col9E2F
  $help-font-dark = $col0000

  $help-border-list = $cola0001
  $help-border-main = $col9E2F

  $help-border-table = $cola2341
  $help-bg-tableHead = $colF7F7
  $help-font-tableHead = $col9999
  $help-border-table-normal = $colE0E0