$colB789 = #2BB789
$colCDA1 = #46CDA1
$col996F = #1A996F
$col2F30 = #2C2F30
$colF6F0 = #E5F6F0
$colC68C = #14C68C
$col5656 = #F25656
$col999A = #97999A
$colAD26 = #E6AD26
$col292B = #25292B
$col6268 = #5E6268
$col3335 = #2F3335
$colD6D6 = #D5D6D6
$col292B = #25292B
$col2120 = #1E2120
$col3739 = #313739
$col2E33 = #2B2E33
$col2730 = #222730 //需要确认
$col8F93 = #8C8F93 //需要确认
$colFFFF = #FFFFFF
$col2F31 = #2B2F31
$col3133 = #2C3133
$col2625 = #232625
$col2B2D = #282B2D
$colFEFE = #FEFEFE
$col8485 = #828485
$col9370 = #299370
$col4740 = #D14740
$col8534 = #EF8534
$col3537 = #2F3537
$col3D3F = #393D3F
// pro版本
$col9E2F = #FF9E2F
$col3333 = #333333
$colB36A = #24B36A
$col5C48 = #F25C48
$col1F2E = #191F2E
$col3543 = #303543
$colFDFD = #FDFDFD
$col0D1e = #060D1E
$col9AA1 = #979AA1
$cola9AA1 = rgba(151,154,161,.3)
$cola6135 = rgba(6,13,30,0.5)
$cola297006 = rgba(242,92,72,0.06)
$cola311006 = rgba(36,179,106,0.06)
$cola4562 = rgba(48,53,67,.2)
$cola22201 = rgba(224,224,224,.1)
$colE8EA = #E8E8EA
$colD2D6 = #D2D2D6
$colEDEE = #EDEDEE
$col8181 = #818181
$colCCCC = #CCCCCC
$col9999 = #999999
$colE0E0 = #E0E0E0
$colFAFB =  #F8FAFB
$colF8F8 =  #F8F8F8
$colF7F7 =  #F7F7F7
$col0000 =  #000000
$col3E4C = #393E4C
$col8188 = #7E8188
$colEEEE = #EEEEEE
$col9999 = #999999
$colD2D5 = #D1D2D5
$colE0E0 = #E0E0E0
$col272D = #25272D
$col6666 = #666666
$col8D00 = #F18D00
$colB81C = #FFB81C
$col971D = #FB971D
$colAA00 = #FFAA00
$colE25D = #FFE25D
$col540E = #85540E
$col8100 = #FF8100
$col1616 = #161616
$col5F00 = #FF5F00
$col4500 = #754500
$col7904 = #B77904
$col2A1A = #612A1A
$col6600 = #E56600
$col851A = #E8851A
$colD636 = #D6360B
$colFFF9 = #FFF9F4
$colFD8A = #FD8A16
$colFF6F = #FF6F4F
$colFF7C = #FF7C0D
$colFF88 = #FF8800
$col1515 = #151515


$col294A = #E2294A
$col9300 = #FF9300
$col7200 = #CF7200
$col5129 = #C35129
$col3E00 = #B13E00
$colE998 =#FFE998
$cola2105 = rgba(255,147,0,.5)
$cola5895 = rgba(195,198,249,0.50)
$cola1146 = rgba(183,121,4,0.6)


$cola28814 = rgba(242, 86, 86, .14)
$cola1221 = rgba(192, 204, 218, .1)
$cola0001 = rgba(0, 0, 0, .1)
$cola0004 = rgba(0, 0, 0, .4)
$cola0005 = rgba(0, 0, 0, .5)
$cola0003 = rgba(0, 0, 0, .3)
$cola0006 = rgba(0, 0, 0, .6)
$cola0006 = rgba(0, 0, 0, .5)
$cola0008 = rgba(0, 0, 0, .8)
$cola2228 = rgba(255, 255, 255, .8)
$cola2225 = rgba(255, 255, 255, .5)
$cola22205 = rgba(255, 255, 255, .05)
$cola2221 = rgba(255, 255, 255, .1)
$cola2222 = rgba(255, 255, 255, .2)
$cola2224 = rgba(255, 255, 255, .4)
$cola23225 = rgba(230, 230, 230, .5)
$cola4117 = rgba(43,183,137, .7)
$cola4115 = rgba(43,183,137, .5)
$cola2777 = rgba(216, 71, 71, .7)
$cola2223 = rgba(203, 212, 225, .3)
$cola23223 = rgba(232, 232, 234, .3)
$cola2141 = rgba(255, 158, 47, .1)
$cola2348 = rgba(25, 31, 46, .8)
$cola2341 = rgba(25, 31, 46, .1)
$cola2342 = rgba(25, 31, 46, .2)
$cola2346 = rgba(25,31,46,0.60)
$cola209228 = rgba(209,210,213,.8)
$cola2144 = rgba(255,158,47,0.04)
$cola2145 = rgba(255,158,47,0.50)
$cola2148 = rgba(255,158,47,0.80)
$cola1115 = rgba(153,153,153,.5)
$cola1125 = rgba(15,19,29,.5)
$cola2229 = rgba(255,255,255,.9)
$cola2114 = rgba(255,169,11,.4)
$cola2121 = rgba(251,151,29,.1)
$cola2903 = rgba(255,129,0,.3)
$cola3111 = rgba(36,179,106,.1)
$cola2971 = rgba(252,92,72,.1)

$box-shadow = 0 2px 4px 0 rgba(0, 0, 0, .4)

// logo地址
$logo-index = url(resolveStaticPath('/logo/logo_header.svg'))
$logo-trade = url(resolveStaticPath('/logo/logo_menu.svg'))

// 头部底部图片
$foot-top = url(resolveStaticPath('/web/footer/top.svg'))
$foot-app = url(resolveStaticPath('/web/footer/app.svg'))
$wx-qrCode = url(resolveStaticPath('/web/footerPro/wx_code.jpeg'))
$icon-select = url(resolveStaticPath('/web/header/down_normal.svg'))
$header-exchange = url(resolveStaticPath('/web/tradePro/heads_title.svg'))
$header-exchange-active = url(resolveStaticPath('/web/headerPro/heads_title_hover.svg'))
$header-news = url(resolveStaticPath('/web/headerPro/menu_message_normal_white.svg'))
$header-news-active = url(resolveStaticPath('/web/headerPro/menu_message_hover.svg'))

// 1.3
$foot-top-pro = url(resolveStaticPath('/web/homePro/top_sidebar.svg'))
$foot-app-pro = url(resolveStaticPath('/web/homePro/phone_sidebar.svg'))
$foot-service-pro = url(resolveStaticPath('/web/homePro/service_sidebar.png'))
$foot-erweima-pro = url(resolveStaticPath('/web/homePro/home_float_code@2x.png'))
$logo-index-pro = url(resolveStaticPath('/logo/logo_header_pro.svg'))
$icon-select-active = url(resolveStaticPath('/web/headerPro/up_title_selected.svg'))

// home图片
$market-active = url(resolveStaticPath('/web/home/market_active4.png'))
$home-up =url(resolveStaticPath('/web/home/num_up.svg'))
$home-down = url(resolveStaticPath('/web/home/num_down.svg'))
$home-arrow = url(resolveStaticPath('/web/home/arrow_green.svg'))
$home-notice-more = url(resolveStaticPath('/web/homePro/more.svg'))
$home-notice-more-active = url(resolveStaticPath('/web/homePro/more_selected.svg'))

// 市场图片
$trade-reset = url(resolveStaticPath('/web/trade/chexiao_hei.svg'))
$trade-reset-hover = url(resolveStaticPath('/web/trade/chexiao_bai.svg'))
$trade-reset-all = url(resolveStaticPath('/web/trade/chexiaoquanbu_hei.svg'))
$trade-reset-all-hover = url(resolveStaticPath('/web/trade/chexiaoquanbu_bai.svg'))
$trade-success = url(resolveStaticPath('/web/success.png'))
$trade-remind = url(resolveStaticPath('/web/remind.png'))
$trade-sell-arrow = url(resolveStaticPath('/web/trade/icon_sanjiao_red@3x.png'))
$trade-buy-arrow = url(resolveStaticPath('/web/trade/icon_sanjiao_green@3x.png'))

// 资产图片
$asset-charge-new = url(resolveStaticPath('/web/asset/new.png'))
$asset-show-little = url(resolveStaticPath('/web/asset/hide_show_normal.svg'))
$asset-hide-little = url(resolveStaticPath('/web/asset/hide_display_normal.svg'))
$asset-show-little-hover = url(resolveStaticPath('/web/asset/hide_show_hover.svg'))
$asset-hide-little-hover = url(resolveStaticPath('/web/asset/hide_display_hover.svg'))
$asset-more = url(resolveStaticPath("/web/asset/more_big.svg"))

// 公共图片
$close-button = url(resolveStaticPath('/web/guanbi_hei.svg'))
$exchange-close-button = url(resolveStaticPath('/web/trade/quxiao_bai.svg'))
$history-export = url(resolveStaticPath('/web/daochu.svg'))
$history-export-hover = url(resolveStaticPath('/web/daochu_hover.svg'))
$up-icon-rade = url(resolveStaticPath('/web/up_icon_trade.png'))
$down-icon-trade = url(resolveStaticPath('/web/down_icon_trade.png'))
$icon-nothing = url(resolveStaticPath('/web/nothing.png'))
$icon-xiala = url(resolveStaticPath('/web/xiala_icon.svg'))
$search-default = url(resolveStaticPath('/web/search-default.svg'))
$search-click = url(resolveStaticPath('/web/search-click.svg'))
$search-bai = url(resolveStaticPath('/web/search_bai.svg'))
$add-address = url(resolveStaticPath('/web/add.svg'))
$invite =url(resolveStaticPath('/web/genrealize/invite.png'))
// $yiwen =url(resolveStaticPathl(/lang/yiwen.svg))
$yiwen-active =url(resolveStaticPath('/web/yiwen_active.svg'))
$yiwen-active-main =url(resolveStaticPath('/web/yiwen_active_main.svg'))
$yiwen-active-light =url(resolveStaticPath('/web/yiwen_active_light.svg'))
$select-normal = url(resolveStaticPath('/web/icon_select_green_normal@3x.png'))
$select-click = url(resolveStaticPath('/web/icon_select_green_click@3x.png'))
$select-choice = url(resolveStaticPath('/web/icon_choice@3x.png'))
$select-pro-normal = url(resolveStaticPath('/web/trade/selected_title.svg'))
$select-pro-click = url(resolveStaticPath('/web/trade/up_selected.svg'))
$select-pro-choice = url(resolveStaticPath('/web/trade/down_selected.svg'))

$h5-user-next = url(resolveStaticPath('/mobile/user/icon_qianjb@3x.png'))

$h5-help-download-iphone = url(resolveStaticPath('/mobile/help/ios.png'))
$h5-help-download-android = url(resolveStaticPath('/mobile/help/download_android@3x.png'))

// 日历图片
$calendar_normal = url(resolveStaticPath('/web/commonPro/date.svg'))
$calendar_active = url(resolveStaticPath('/web/commonPro/date_click.svg'))
$pre-month = url(resolveStaticPath('/web/calendar/calendar_pre_month.svg'))
$next-month = url(resolveStaticPath('/web/calendar/calendar_next_month.svg'))

//交易专业版图片
$trade-pro-select = url(resolveStaticPath('/web/tradePro/selected_title.svg'))
$trade-pro-radio-select = url(resolveStaticPath('/web/tradePro/icon_radio_selected.svg'))
$trade-pro-radio-normal = url(resolveStaticPath('/web/tradePro/icon_radio_normal.svg'))
$trade-pro-success = url(resolveStaticPath('/web/pop_right.svg'))
$trade-pro-error = url(resolveStaticPath('/web/pop_error.svg'))
$trade-pro-more = url(resolveStaticPath('/web/tradePro/more_title.svg'))

$empty-white = url(resolveStaticPath('/web/commonPro/empty_white.svg'))
$empty-black = url(resolveStaticPath('/web/commonPro/empty_black.svg'))
$not-found = url(resolveStaticPath('/web/commonPro/404.svg'))

$common-download-ios = url(resolveStaticPath('/web/commonPro/app_download_ios.svg'))
$common-download-android = url(resolveStaticPath('/web/commonPro/app_download_android.svg'))

//$registe-bg1 =url(resolveStaticPathl(/images/genrealize/register_bg1.png))
//$registe-bg2 =url(resolveStaticPathl(/images/genrealize/register_bg2.png))
//$registe-bg3 =url(resolveStaticPathl(/images/genrealize/register_bg3.png))

// 套利宝
$tlb_next = url(resolveStaticPath('/taolibao/tlb_next.svg'))
$tlb-circle-p = url(resolveStaticPath('/web/commonPro/radio_get.svg'))

// h5活动banner
$h5_reg_activity_bg = url(resolveStaticPath('/mobile/activity/reg_bg@0.5x.jpg'))
$h5_double_activity_bg = url(resolveStaticPath('/mobile/activity/bg@0.5x.jpg'))
$h5_reg_activity_awardbg = url(resolveStaticPath('/mobile/activity/img_invite@3x.png'))
$h5_reg_activity_awardbg_web = url(resolveStaticPath('/mobile/activity/img_invite@3x_web.png'))
$h5-user-invite-bg = url(resolveStaticPath('/mobile/user/invite/bg_yaoqing@3x.png'))
$h5-user-invite-linebg = url(resolveStaticPath('/mobile/user/invite/line@3x.png'))
$h5-user-invite-listbg = url(resolveStaticPath('/mobile/user/invite/bg@3x.png'))
$act_regAndinvite-bg = url(resolveStaticPath('/mobile/activity/reg_invite_gift@2x.png'))

$poster-closer-button = url(resolveStaticPath('/mobile/activity/reg_back@3x.png'))


// 双11活动
$dou_activity_gift = url(resolveStaticPath('/mobile/activity/dou11_gift@1x.png'))
$dou_activity_invite = url(resolveStaticPath('/mobile/activity/dou11_invite@1x.png'))
$dou_activity_red = url(resolveStaticPath('/mobile/activity/dou11_red@1x.png'))
$dou_activity_gift = url(resolveStaticPath('/mobile/activity/dou11_gift@1x.png'))
$dou_activity_invite = url(resolveStaticPath('/mobile/activity/dou11_invite@1x.png'))
$dou_activity_red = url(resolveStaticPath('/mobile/activity/dou11_red@1x.png'))
$dou_activity_gift = url(resolveStaticPath('/mobile/activity/dou11_gift@1x.png'))
$dou_activity_invite = url(resolveStaticPath('/mobile/activity/dou11_invite@1x.png'))
$dou_activity_red = url(resolveStaticPath('/mobile/activity/dou11_red@1x.png'))

$otc_newchat = url(resolveStaticPath('/otc/otc_newchat.svg'))

