.ad-list-table
	width 100%
	.ad-list-none
		height 420px
		line-height 540px
		text-align center
		font-size 14px
		letter-spacing 0
		background $empty-white no-repeat center / 140px 100px
	table
		width 100%
		thead
			tr
				background $otc-head-bg
				height 36px
				line-height 36px
				td
					font-size 12px
					color $otc-font-head
					&:nth-of-type(1)
						padding-left 25px
		tbody
			.ad-list-tr-none
				display none
			tr
				height 62px
				border-bottom 1px solid $otc-line
				.pay-way-img
					height 62px
				td
					font-size 14px
					color $otc-font-main
					&:nth-of-type(1)
						padding-left 25px
					a
						font-size 14px
						color $otc-active
					button
						padding 0 14px
						height 36px
						background $otc-active
						color $colFFFF
	
		