.ad-types
	width 296px
	height 66px
	padding 0 30px
	border-right 1px solid $otc-line
	p
		font-size 14px
		color $otc-font-main
		margin-bottom 20px
	ul
		display flex
		align-items center
		justify-content space-between
		height 32px
		li
			font-size 16px
			color $otc-font-main
			padding-bottom 10px
			cursor pointer
		.ad-types-active
			color $otc-active
			border-bottom 2px solid $otc-active
			