@import "./variable.styl"
@import "./adTypeList.styl"
@import "./adFilter.styl"
@import "./adList.styl"

.ad-list-content
	width 1200px
	margin 20px auto 20px
	background $colFFFF
	.ad-list-head
		height 105px
		width 100%
		padding 28px 25px 10px 0
		display flex
		justify-content space-between
		.ad-list-currency
			display flex
	.ad-list-page
		padding-right 25px
		height 58px
		display flex
		align-items center
		justify-content flex-end