@import "~@/common/css/index.styl"

$otc-line = $colEEEE
$otc-head-bg = $colF8F8
$otc-font-main = $col3333
$otc-font-head = $col9999
$otc-font-input = $colCCCC
$otc-active = $col9E2F
$otc-font-filt = $colFFFF
$otc-border = $colE0E0
