@import "~@/common/css/index.styl"

  $user-bg-main = $colFFFF // 整体背景颜色
  $user-bg-popup = $colFFFF // 弹窗背景色
  $user-bg-ipPopup = $colFFFF // ip弹窗背景色
  $user-bg-btn = $col9E2F  // 按钮背景色
  $user-bg-img = $colEEEE  // 图片验证码背景色
  $user-bg-geogleStep = $colFFFF  // 谷歌验证弹窗数字背景色
  $user-bg-progress = $colF8F8 // 进度条背景色
  $user-bg-progressLine = $col9E2F // 进度条线背景色
  $user-bg-disable = $colF8F8 // 进度条线背景色

  $user-slide-bg-active = $cola2141 // 侧边导航文字点击背景颜色
  $user-slide-line-active = $col9E2F // 侧边导航文字点击背景颜色
  $user-slide-line = $cola0001 // 侧边导航文字点击背景颜色
  $user-slide-font-main = $col3333 // 侧边导航文字普通颜色
  $user-slide-font-active = $colB789 // 侧边导航文字点击颜色

  $user-font-normal = $col272D // 普通颜色
  $user-font-safe = $col3333 // 普通颜色
  $user-font-remind = $col9999 // 提醒颜色
  $user-font-warn = $col5C48 // 警告颜色
  $user-font-copy = $col9E2F // 复制颜色
  $user-font-invite = $col9E2F // 复制颜色
  $user-font-inviteNormal = $col3333 // 普通颜色
  $user-font-pointNum = $col3333 // 积分数颜色
  $user-font-pointScore = $colFFFF // 积分数颜色
  $user-font-pointLevel = $col9E2F // 积分等级颜色
  $user-font-getScore = $col9E2F // 积分等级颜色
  $user-font-levelNum = $col9999 // 积分等级颜色
  $user-font-bind = $col9E2F // 绑定颜色
  $user-font-set = $col9E2F // 设置颜色
  $user-font-modify = $col9E2F // 修改颜色
  $user-font-del = $col9E2F // 删除颜色
  $user-font-other = $col9E2F // 其他设置颜色
  $user-font-btn = $colFFFF // 按钮文字颜色
  $user-font-btn2 = $col9E2F  // 按钮文字颜色
  $user-font-btnCancel = $col3333 // 按钮文字颜色
  $user-font-geogleStep = $col3333  // 谷歌验证弹窗数字颜色
  $user-font-geogleDownload = $col9E2F  // 谷歌验证弹窗下载提醒
  $user-font-progressNum = $col3335 // 进度条数颜色
  $user-font-verify = $col9E2F// 进度条数颜色
  $user-font-verify-disable = $colCCCC// 进度条数颜色
  $user-font-pay = $col3333// 进度条数颜色
  $user-font-pay-upload = $col9999// 进度条数颜色
  $user-font-pay-select = $colCCCC// 进度条数颜色

  $user-title-main = $col9E2F // 一级标题
  $user-title-second = $col3333 // 二级标题
  $user-title-third = $colD6D6 // 三级标题
  $user-title-table = $col9999 // 表格标题
  $user-title-bg = $colF8F8// 表格标题
  $user-title-invite = $col9999// 表格标题

  $user-line-main = $cola0001 // 分割线
  $user-line-err = $col5656 // 错误线
  $user-line-slice = $colE0E0 // 分隔线
  $user-line-set = $col9E2F // 分隔线
  $user-line-geogleStep = $colE0E0 // 分隔线
  $user-line-photo = $colEEEE // 分隔线
  $user-line-btn = $colE0E0 // 分隔线

  $user-border-select = $colB789 // 选择边框
  $user-border-btn = $col9E2F // 选择边框


  $user-upload-default = url(resolveStaticPath('/web/userPro/user_otc_upload_normal.svg'))
  $user-upload-hover = url(resolveStaticPath('/web/userPro/user_otc_upload_hover.svg'))


