.my-ad-filter
	background $colFFFF
	width 100%
	h3
		width 100%
		height 60px
		background $otc-myAd-title-bg
		line-height 60px
		padding-left 24px
		color $otc-myAd-active
		font-size 18px
		font-weight 600
	.ad-filter
		width 100%
		height 77px
		display flex
		align-items center
		justify-content space-between
		padding 20px 24px
		.ad-filter-items
			display flex
			align-items center
			.ad-filter-input
				width 144px
				height 36px
				border 1px solid $otc-myAd-border
				color $otc-myAd-font-intro
				margin-right 20px
			.ad-select-lab
				font-size 14px
				color $otc-myAd-font-intro
			.ad-filter-select
				margin 0 20px 0 10px
				p
					color $otc-myAd-font-main
			.select-button
				.main.hidden::after
					right 7px
				.main::after
					right 7px
		.ad-filter-search
			.filter-button
				height 36px
				line-height 36px
				padding 0 14px
				color $otc-myAd-font-main
				border 1px solid $otc-myAd-border
				margin-left 10px
			.filter-search-button
				color $colFFFF
				background $otc-myAd-active
				border none
				