@import "~@/common/css/index.styl"

$otc-myAd-active = $col9E2F
$otc-myAd-font-main = $col3333
$otc-myAd-font-intro = $col9999
$otc-myAd-title-bg = $colF8F8
$otc-myAd-border = $colE0E0
$otc-myAd-button-disable = $colFFFF
$otc-myAd-button-disable-bg = $colCCCC

$otc-radio-select = url(resolveStaticPath('/otc/radio_selected.svg'))
$otc-radio-normal = url(resolveStaticPath('/otc/radio_normal.svg'))