@import "~@/common/css/variableWill.styl"

$login-bg-main = $col3335
$login-bg-active = $col9E2F
$login-bg-code = $colcbce
$login-bg-findPass = $colFFFF
$login-bg-login = $colFFFF
$login-bg-register = $colFFFF
$login-bg-img = $colEEEE

$login-font-normal = $col3333
$login-font-button = $colFFFF
$login-font-negative = $col5656
$login-font-verify = $col9E2F
$login-font-disable = $colCCCC
$login-font-active = $col9E2F
$login-font-nav = $col9999
$register-font-nav = $col3333
$login-font-remind = $col9999
$login-font-notAllow = $cola1115
$login-font-warn = $col5C48

$login-line-err = $col5C48
$login-line-active = $col9E2F
$login-line-title = $cola0001

$activity-bg-reg-btn = $col971D
$activity-font-reg-btn-get = $colFFFF
$activity-alert-bg = $cola0006