@import "~@/common/css/variableWill.styl"

//import {
//	resolveOrderPath
//} from "@/config/UrlConfig"

$tlb-font-title = $colFFFF
$tlb-font-stepTitle = $cola2228
$tlb-font-stepCon = $cola2225
$tlb-font-conTitle = $col3333
$tlb-font-con = $col6666
$tlb-font-que = $col3333
$tlb-font-conRemind = $col9999
$tlb-table-context = $col3333
$tlb-table-title = $col9999
$tlb-table-border = $colE0E0
$tlb-table-title-bg = $colF7F7
$tlb-font-ans = $col9999
$tlb-font-conYields = $col5C48
$tlb-font-btn = $colFFFF
$tlb-font-remind = $colFF88
$tlb-font-num = $col1515
$tlb-font-yields = $col6666
$tlb-font-sub = $col9999

$tlb-bg-step = $cola1125
$tlb-bg-content = $colFFFF
$tlb-bg-btn = $col9E2F
$tlb-bg-btn-disabled = $colE0E0
$tlb-bg-remind = $cola2141

$tlb-border = $colCCCC

$tlb-line-normal = $col3333
$tlb-line-problem = $colEEEE
$tlb-line-active = $col9E2F
$tlb-line-title = $colE0E0

// 套利宝图片
$tlb-banner = url(resolveStaticPath('/taolibao/tlb_banner.png'))
$tlb_kefu = url(resolveStaticPath('/taolibao/tlb_wechat_normal.svg'))
$tlb_kefu_hover = url(resolveStaticPath('/taolibao/tlb_wechat_hover.svg'))
$tlb_ans = url(resolveStaticPath('/taolibao/tlb_qa_answers.svg'))
$tlb_que = url(resolveStaticPath('/taolibao/tlb_qa_questions.svg'))
$tlb_ans_en = url(resolveStaticPath('/taolibao/tlb_qa_answers_en.svg'))
$tlb_que_en = url(resolveStaticPath('/taolibao/tlb_qa_questions_en.svg'))
$tlb_bg_btc = url(resolveStaticPath('/taolibao/tlb_bg_btc.png'))
$tlb_bg_cny = url(resolveStaticPath('/taolibao/tlb_bg_cny.png'))
$tlb_bg_usd = url(resolveStaticPath('/taolibao/tlb_bg_usd.png'))