.home-super-wrap-pro
  width 1200px
  margin 0 auto
  padding 87px 0 77px
  ul
    &.en-ul
      li
        //padding 0 40px
        p
          width 190px
          margin 0 auto
        &:nth-child(1)
          width 207px
          margin 0 126px 0 30px
        &:nth-child(2)
          width 184px
          margin-right 124px
        &:nth-child(3)
          width 211px
          margin-right 95px
        &:nth-child(4)
          width 178px
    li
      float left
      //width 25%
      //padding 0 60px
      //box-sizing border-box
      text-align center
      &:nth-child(1)
        width 160px
        margin 0 172px 0 53px
      &:nth-child(2)
        width 156px
        margin-right 166px
      &:nth-child(3)
        width 143px
        margin-right 142px
      &:nth-child(4)
        width 152px
      img
        height 100px
        margin-bottom 34px
      h2
        margin-bottom 10px
        font-size 20px
        line-height 26px
        color $home-font-advantage
      p
        font-size 13px
        line-height 22px
        color $home-font-advantageCon
        font-weight 400