@import "~@/common/css/index.styl"

$home-bg-main = $colE8EA // 整体背景颜色
$home-bg-recommend = $colFFFF // 推荐币种背景色
$home-bg-market = $colFFFF // 市场背景色
$home-bg-advantage = $col3335  // 我们的优势背景色
$home-bg-input = $colEDEE // 搜索框背景色
$home-bg-market-btn = $colCCCC // 搜索框背景色
$home-bg-market-btnActive = $col9E2F // 搜索框背景色
$home-bg-banner = $col3439  // Banner背景色
$home-bg-pwdPopup = $colFFFF // 首页设置密码弹窗
$home-bg-btn = $col9E2F
$home-bg-marketActive = $colFFFF
$home-bg-marketTitle = $cola23223
$home-bg-marketCon = $cola2141
$home-bg-notice = $col3543
$home-bg-point = $cola2224
$home-bg-pointActive = $colFFFF
$home-bg-recommendUp = $cola3111
$home-bg-recommendDown = $cola2971

$home-font-normal = $cola2228 // 普通颜色
$home-font-new = $col3333 // 普通颜色
$home-font-up = $colB789 // 提醒颜色
$home-font-down = $col5656 // 警告颜色
$home-font-recommendName = $cola0008 // 推荐币种名称颜色
$home-font-input = $cola0008 // 推荐币种名称颜色
$home-font-recommendPrice = $colF6F0  // 推荐币种金额颜色
$home-font-market = $cola2228 // 市场切换颜色
$home-font-active = $col9E2F // 市场切换颜色
$home-font-table = $cola0008 // 表格内容标题
$home-font-marketPrice = $col8181 // 表格内容标题
$home-font-marketTitle = $cola0006 // 表格标题
$home-font-marketZone = $col9E2F // 表格标题
$home-font-advantage = $cola2348 // 我们的优势字体颜色
$home-font-advantageCon = $cola2345 // 我们的优势点击active颜色
$home-font-superiority = $colFFFF
$home-font-noticeTime = $colB789 // 通知时间颜色
$home-font-noticeConActive = $col9E2F // 通知时间颜色
$home-font-btn = $colFFFF
$home-font-warn = $col4740
$home-font-set = $col9E2F
$home-font-marketNav = $cola0006
$home-font-up-pro = $colB36A // 提醒颜色
$home-font-down-pro = $col5C48 // 警告颜色


$home-title-table = $cola2225 // 表格标题

$home-line-main = $colFFFF // 分割线
$home-line-market = $cola2225 // 市场表格分割线
$home-line-market-light = $cola0001
$home-line-market-nav = $colD2D6
$home-line-market-active = $col9E2F
$home-line-market-input = $colCCCC
$home-line-market-inputActive = $col9E2F
$home-line-zone-title = $col9E2F
$home-line-zone-titleBottom = $cola4115
$home-line-err = $col5C48
$home-line-recommend = $col3543

$home-border-btn = $colC68C // 活动边框线
