// @import "../style/variable.styl"

.calendar-wrap
  position relative
  .input-wrap
    &.active
      input
       border .01*100px solid $common-border-main
      &:before
        position absolute
        top 50%
        right .02*100px
        width .2*100px
        height .2*100px
        content ''
        margin-top -8px
        background $calendar_active no-repeat
        background-size 14px 14px
    &:before
      position absolute
      top 50%
      right .02*100px
      width .2*100px
      height .2*100px
      content ''
      margin-top -8px
      background $calendar_normal no-repeat
      background-size 14px 14px
    input
      box-sizing()
      width 110px
      height 36px
      padding-left .05*100px
      margin-bottom .05*100px
      font-size .14*100px
      line-height 36px
      color $common-font-normal
      background $common-bg-none
      border .01*100px solid $common-border-dark
      border-radius(2px)
      &::-webkit-input-placeholder
        font-size .14*100px
      &::-moz-placeholder
        font-size .14*100px

.calendar
  position absolute
  top 75%
  z-index 22
  box-sizing()
  width 2.58*100px
  padding .16*100px .26*100px .18*100px
  color $common-font-normal
  background $common-bg-none
  border .01*100px solid $common-border-dark
  box-shadow 0 .02*100px .04*100px 0 rgba(0, 0, 0, 0.12), 0 0 .06*100px 0 rgba(0, 0, 0, 0.04)
  border-radius (.02*100px)
  text-align center
  font-size .14*100px
  h3
    height 0.3*100px
    line-height 0.3*100px
    margin 0 auto .16*100px
    font-size .14*100px
    font-weight normal
    color $common-font-normal
    margin-bottom 0*100px
    img
      position relative
      top 0
      cursor pointer
      &.pre-year-img, &.next-year-img
        width .12*100px
        height .12*100px
      &.pre-month-img, &.next-month-img
        width .12*100px
        height .12*100px
      &.pre-month-img
        margin-left .2*100px
        margin-right .12*100px
      &.next-month-img
        margin-left .12*100px
        margin-right .2*100px
    i
      cursor pointer
      &.year-i
        margin-right .05*100px
  table
    width 100%
    font-size 0.12*100px
    tr
      line-height 0.3*100px
    thead
      color $common-font-normal
    tbody
      td
        width .32*100px
        height .28*100px
        &.today-text
          color $common-font-main
        &.active-text:hover
          cursor pointer
          color $common-font-none
          background $common-bg-main
        &.active-set:hover
          cursor pointer
          color $common-font-main
        &.active
          color $common-font-none
          background $common-bg-main
          &:hover
            color $common-font-none
            background $common-bg-main
        &.is-disabled, &.today-disabled
          color $common-font-minor
          pointer-events none
          cursor not-allowed

  .calendar-content
    font-size .12*100px