.start-time
  margin-right .3*100px
  position relative
  &:after
    position absolute
    display inline-block
    top 50%
    right -.2*100px
    content ''
    width .1*100px
    height 1px
    background $common-border-normal