.progress-wrap
  .progress-line
    position relative
    width 400px
    height 10px
    background  $common-bg-progress
    border-radius (100px)
    overflow hidden
    p
      position absolute
      float left
      height 10px
      border-radius (100px 0 0 100px)
      background linear-gradient(-90deg, #FFCD5C 0%, #FF9E2F 100%)
  span
    //position absolute
    display inline-block
    color $common-font-main
    &.top
      transform translateX(-50%)
      //top -15px
    &.right
      float right

