@import "../../css/index.styl"
  $common-bg-main = $col9E2F
  $common-bg-shadow-tradePro = $cola0005
  $common-bg-selected-tradePro = $col1F2E
  $common-bg-select-tradePro = $col3543
  $common-bg-shadow-connect = $cola2342
  $common-bg-popup = $cola2346
  $common-bg-none = $colFFFF
  $common-bg-disable = $colF8F8
  $common-bg-hover = $cola2141
  $common-bg-progress = $colEEEE
  $common-bg-legal = $col9999
  $common-bg-popup-dark = $cola2348

  $common-bg-main-h5 = $colB789
  $common-bg-disable-h5 = $cola4115
  $common-bg-input-h5 = $col2B2D

  $common-bg-h5-tip = $cola0006
  $common-bg-main-op = $cola4117
  $common-bg-main-hover = $colCDA1
  $common-bg-main-active = $col996F
  $common-bg-negative-op = $cola2777
  $common-bg-extrude = $colAD26
  $common-bg-extrude-hover = $colAD26
  $common-bg-extrude-active = $colAD26
  $common-bg-negative = $col5656
  $common-bg-negative-hover = $col5656
  $common-bg-negative-active = $col5656
  $common-bg-medium = $col3739
  $common-bg-active = $col2F30
  $common-bg-deep = $col292B
  $common-bg-light = $cola2225
  // $common-bg-btn = $col2F31
  $common-bg-deep-op = $cola1221
  $common-bg-none = $colFFFF
  $common-bg-select-trade = $cola0003
  $common-bg-pwd-normal = $colE0E0
  $common-bg-pwd-low = $col5C48
  $common-bg-pwd-middle = $col9E2F
  $common-bg-pwd-high = $colB36A
  // $common-slide-main = $col9E2F

  $common-font-main = $col9E2F
  $common-font-minor = $colCCCC
  $common-font-normal = $col3333
  $common-font-pro = $col9AA1
  $common-font-none = $colFFFF
  $common-font-h5 = $colFFFF
  $common-font-trade = $cola2228


  $common-font-main-hover = $colCDA1
  $common-font-main-active = $col996F
  $common-font-deep = $col3335
  $common-font-negative = $col5656
  $common-font-negative-active = $col5656
  $common-font-extrude = $colAD26
  $common-font-extrude-active = $colAD26
  $common-font-dark = $col292B
  $common-font-light = $cola2225
  $common-font-pwd = $col9999

  // $common-title-main = $col9E2F
  // $common-title-main-hover = $colCDA1
  // $common-title-main-active = $col996F

  $common-line-normal = $col292B



  $common-border-main = $col9E2F
  $common-border-dark = $colE0E0
  $common-border-minor = $col9999
  $common-border-none = $colFFFF
  $common-border-focus = $cola2145
  $common-border-normal = $colD6D6

  $common-border-main-h5 = $colB789


  $common-line-minor = $cola2225

  $common-border-main-hover = $colCDA1
  $common-border-main-active = $col996F
  $common-border-negative = $col5656
  $common-border-negative-active = $col5656
  $common-border-extrude = $colAD26
  $common-border-extrude-active = $colAD26
  $common-border-dark-op = $cola1221
  // $common-border-minor = $col6268
  $common-border-shadow = $cola2223
  $common-border-light = $cola2225
  $common-border-select-pro = $col9AA1
  $common-border-main-pro = $col9E2F
