@import "~@/common/css/index.styl"

$otc-order-title-bg = $colF8F8
$otc-order-line = $colE0E0
$otc-order-font-main = $col3333
$otc-order-font-input = $colCCCC
$otc-order-font-intro = $col6666
$otc-order-font-title = $col9999
$otc-order-active = $col9E2F
$otc-order-price = $col5C48

$otc-checkbox-normal = url('/static/web/commonPro/checkbox_normal.svg')
$otc-checkbox-select = url('/static/web/commonPro/checkbox_selected.svg')