@import "./variable.styl"
.order-qb-detail
	position relative
	.order-nav
		height 60px
		display flex
		position absolute
		//align-items center
		li
			height 60px
			line-height 60px
			a
				display inline-block
				height 100%
				font-size 18px
				padding 0 24px
				color $col3333
				&.active
					background $colFFFF
					color $order-line-active
				&:hover
					background $colFFFF
					color $order-line-active
		