@import "~@/common/css/variableWill.styl"

$notice-bg-main = $colFFFF //主背景色、内容详情弹窗背景色
$notice-bg-active = $col2F30   //tab列表选中背景
$notice-bg-notice = $col9E2F
$notice-bg-title = $colF8F8
$notice-bg-user-notice = $colFFFF
$notice-bg-brief = $cola2144

$notice-font-content = $cola2228 //资讯公告列表内容、其他内容页
$notice-font-title = $col9E2F
$notice-font-active = $col9E2F //主题色
$notice-font-detail = $col0000 //通知详情颜色
$notice-font-para = $col0000
$notice-font-nav = $col9E2F
$notice-font-info = $col0000
$notice-font-time = $col9999
$notice-font-nothing = $col9999
$notice-font-first-link = $col3333
$notice-font-second-link = $col9999
$notice-font-brief = $col9E2F

$notice-line-dark = $col292B  //通知页深色border
$notice-line-light = $colE0E0 //通知页浅色border
$notice-line-title = $colCCCC //通知页浅色border


$notice-slide-bg-active = $cola2141 // 侧边导航文字点击背景颜色
$notice-slide-line-active = $col9E2F // 侧边导航文字点击背景颜色
$notice-slide-line = $cola0001 // 侧边导航文字点击背景颜色
$notice-slide-font-main = $col3333 // 侧边导航文字普通颜色
$notice-slide-font-active = $colB789 // 侧边导航文字点击颜色

$notice-title-main = $col9E2F // 一级标题
$notice-title-second = $col3333 // 二级标题
$notice-title-third = $colD6D6 // 三级标题
$notice-title-table = $col9999 // 表格标题
$notice-title-bg = $colF8F8// 表格标题