.adExplain-wrap
  width 190px
  .adExplain-content
    min-height 214px
    padding 16px 20px
    background-color $publish-bg-none
    li
      font-size 14px
      color $publish-font-normal
      text-align justify
      line-height 21px