@import './variable.styl'
@import './adExplain.styl'
@import './adForm.styl'
@import './adType.styl'
@import './setPrice.styl'
@import './limit.styl'
@import './payWay.styl'
@import './remarks.styl'
@import './setFloat.styl'

.publish-ad
  width 1200px
  margin 20px auto 40px
  .publish-ad-left
    float left
  .publish-ad-right
    float right
  .publish-title
    height 60px
    line-height 60px
    padding 0 24px
    font-size 18px
    font-weight bold
    color $publish-font-main
    background-color $publish-bg-title