.adForm-content-limitPrice
  ul
    li
     float left
     width 230px
     line-height 36px
     margin-right 20px
    h4
      font-size 14px
      letter-spacing 0
      span
        font-size 12px
        color $publish-font-light
    input
      width 230px
      height 36px
