.adForm-content-payWay
  ul
    li
      float left
      margin-right 74px
      line-height 38px
      cursor pointer
      img
        position relative
        top 2px
        margin-right 8px
        &.none
          display none