.adForm-content-SetFloat
  h5
    font-size 12px
    line-height 32px
    color $publish-font-required
    letter-spacing 0
    img
      position relative
      top 2px
      margin-left 6px
  p
    font-size 12px
    color $publish-font-light
    letter-spacing 0
  .range
    float left
    width 230px
    padding-top 10px
    span:nth-child(1)
      float left
    span:nth-child(2)
      float right
  .amount
    float left
    width 230px
    margin 10px 20px 0
    p
      margin-top 10px
      text-align center
    .taolibao-common-input
      span
        width 40px
        height 36px
      .base-input-wrap
        &::after
          position absolute
          right 12px
          top 12px
          content '%'
        input
          width 148px
          height 36px
  .boundary
    float left
    margin-top 10px
    input
      width 230px
      height 36px
  .range-wrap
    padding-top 25px