.adForm-content-setPrice
  .adForm-content-main
    ul
      li
        float left
        margin 0 74px 12px 0
        font-size 14px
        line-height 36px
        color $publish-font-normal
        letter-spacing 0
        cursor pointer
        img
          margin-right 8px
    ol
      li
        float left
        margin-right 24px
        .input
          position relative
          span
            position absolute
            right 10px
            top 4px
            font-size 14px
            color $publish-font-normal
            letter-spacing 0
            text-align right
        input
          width 230px
          height 36px
          padding-right 100px
          line-height 36px
        h4
          font-size 14px
          line-height 48px
        span
          font-size 14px
          line-height 28px
          color $publish-font-normal
          letter-spacing 0
          b
            font-size 20px
            letter-spacing 0