@import "~@/common/css/variableWill.styl"

$col3133 = $col3133
$col3133-aside = #363B3D

$header-image-logo = $logo-index
$header-image-trade = $logo-trade
$header-icon-select = $icon-select
$header-icon-select-active = $icon-select-active

$footer-image-app = $foot-app
$footer-image-top = $foot-top
$footer-image-wechat = $wx-qrCode

$footer-font-nav = $cola2228
$footer-font-hover = $colFFFF
$footer-font-copyright = $cola2224
$footer-font-service = $col3333


$header-bg-active = $col2F30
$header-bg-exchange = $col1F2E
$header-bg-main = $col3537
$header-bg-exchange-select = $col3543
$header-bg-new = $col9E2F
$header-bg-new-content = $col3543



$header-font-nav = $cola2228
$header-font-new-all = $col9E2F
$header-font-new-con = $cola2228
$header-font-new-time = $cola2225
$header-font-hover = $colFFFF
$header-font-active = $colB789
$header-font-normal = $col3335
$header-font-light = $colD6D6
$header-font-li = $cola2225
$header-font-exchange-select = $cola209228

$header-line = $col292B
$header-line-exchange = $col2120
$header-line-slice = $col0D1e
$footer-line-slide = $colEEEE


// 1.3配色
$header-bg-main-pro = $col1F2E
$header-bg-user-content = $col3543
$header-bg-user-contentActive = $col1F2E

$header-font-user-contentActive = $col9E2F
$header-font-activePro = $col9E2F

$footer-bg-weixin = $colFAFB
$footer-bg-slide = $colFFFF
$footer-bg-main = $col1F2E
$footer-bg-slide-hover = $cola2141

$header-line-main = $col3543
$header-line-new = $col0D1e
$footer-line-main = $cola2221

//暂时
$trade-main-bg = $col0D1e
$trade-model-bg = $col1F2E
$trade-font-normal = $cola2228
$trade-font-title = $colFFFF
$trade-font-thead = $cola2225
$trade-bg-title = $col3543
$trade-buy-font = $colB36A
$trade-sell-font = $col5C48
$trade-buy-bg = $colB36A
$trade-sell-bg = $col5C48
$trade-scrollbar-track = $col2730
$trade-scrollbar-thumb = $col8F93
$trade-little-bg = $cola9AA1

$trade-tab-active-font = $colFFFF
$trade-tab-active-border = $colFFFF
$trade-tab-hover = $colFFFF
$trade-change-positive = $colB36A
$trade-change-negative = $col5C48
$trade-live-deal-bg = $col3335


$trade-market-line = $cola22205
$trade-market-lineTitle = $colB789
$trade-market-materials = $colB789
$trade-market-select = $col3335
$trade-market-border = $col3335
$trade-market-volume-color = $colD6D6
$trade-pro-market-bg = $cola6135

$trade-recent-tab-border = $colB789
$trade-recent-tab-font = $colB789
$trade-recent-tab-active-bg = $colB789
$trade-recent-tab-active-font = $col292B

$trade-deal-shadow = $cola2223
$trade-deal-input-bg = $col3335
$trade-deal-input-color = $cola2225
$trade-deal-setPass-color = $colB789
$trade-deal-setPass-botton-bg = $colB789
$trade-deal-setPass-border = $colB789
$trade-deal-setPass-bg = $col3739
$trade-deal-scroller-border = #979AA1
$trade-deal-input-color-white = $cola2228
$trade-deal-free-color = $colB789

$trade-order-shadow = $cola2223
$trade-order-detail-dash =$cola2221
$trade-order-detail-bg = $col3739
$trade-order-detail-close = $colB789
// pro专业版
$trade-pro-active = $col9E2F
$trade-pro-model-bg = $col1F2E
$trade-pro-bg-title = $col3543
$trade-pro-buy-bg = $colB36A
$trade-pro-sell-bg = $col5C48
$trade-pro-live-sell-bg = $cola297006
$trade-pro-live-buy-bg = $cola311006
$trade-pro-main-bg = $col0D1e
$trade-pro-change-positive = $colB36A
$trade-pro-change-negative = $col5C48
$trade-pro-order-detail-bg = $colFDFD
$trade-pro-detail-line = $cola4562
$trade-pro-market-bg-main = $col3543
$trade-pro-market-bg-active = $col1F2E
$trade-pro-market-bg-title = $col0D1e
$trade-pro-market-font-title = $colFFFF
$trade-pro-market-bg-input = $col3E4C
$trade-pro-market-border-input = $col8188
$trade-pro-tab-active-font = $col9E2F
$trade-pro-order-detail-line = $cola22201