//@import "../../../common/css/variable.styl"
@import "./variable.styl"
//@import "./tradeMarket.styl"
//@import "./tradePairDeal.styl"
@import "./tradeRecent.styl"
@import "./tradeLive.styl"
@import "./tradePlan.styl"
@import "tradeDealExchangePro.styl"
@import "./tradeOrder.styl"
@import "./tradeNotice.styl"
#trade_pro
	width 100%
	background $trade-pro-main-bg
	border-top 4px solid $trade-pro-main-bg
	color $trade-font-thead
	display flex
	flex-flow row nowrap
	.trade-left
		flex 1 1 auto
		display flex
		flex-flow column nowrap
		min-width 676px
		.trade-left-top
			flex 1 1 auto
			border-bottom 4px solid $trade-pro-main-bg
		.trade-left-bottom
			flex 0 0 300px
			background $trade-pro-model-bg
	.trade-right
		flex 0 0 600px
		background $trade-pro-main-bg
		border-left 4px solid $trade-pro-main-bg
		flex-flow column nowrap
		display flex
		.trade-right-top
			flex 1 1 auto
			display flex
			display: -ms-flexbox;
		.trade-right-bottom
			flex 0 0 304px
			background $trade-pro-model-bg
			border-top 4px solid $trade-pro-main-bg
// k线图部分样式
.trade-chart{
	position: relative;
	overflow: hidden;
}
.trade-chart .k-menu{
	position: absolute;
	top: 0;
	right: 10px;
	z-index: 500;
	height: 28px;
}
.trade-chart .k-menu button{
	border: 1px solid #aaa;
	color: #aaa;
	cursor: pointer;
	height: 24px;
	margin: 2px 0;
	width 66px;
	border-radius: 2px;
	box-sizing: border-box;
}
.trade-chart .k-menu button:first-of-type{
	margin-right:8px;
}
.trade-chart .k-menu button:hover{
	border-color: #fff;
	color: #fff;
}
.trade-chart .k-menu button.active{
	background-color: #2bb789;
	border: none;
	color: #fff;
}
